.left-column {background-color: green;}
.right-column {background-color: blue;}
.top-row {background-color: black;}
.bottom-row {background-color: black;}
.mytable {
    text-align: center;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: white;

}
.rotate {
    -webkit-transform: rotate(180deg);
}
